@use 'variables';
.carrusel {
    &__options {
        display: flex;
    }
    &__option {
        width: 25px; height: 1px; 
        flex-grow: 1;
        background-color: variables.$grey-150;
        &--active {
            background-color: #000;
        }
        @media screen and (min-width: 768px) {
            width: 52px;
        }
    }
    &__select {
        padding: 16px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (min-width: 768px) {
            padding: 24px 40px;
        }
    }
    &__name {
        font-size: 14px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: -0.25px;
        @media screen and (min-width: 768px) {
            font-size: 18px; line-height: 1.25;
        }
    }

    &__propety {
        font-size: 10px;
        line-height: 1.2;
        font-weight: 400;
        opacity: 0.75;
    }

    &__arrows {
        display: flex;
        gap: 24px;
    }
    &__arrow {
        color: #000;
        cursor: pointer;
        &:hover {
            color: variables.$grey-150;
        }
    }
    
    &__arrow--deactive {
        color: variables.$grey-150;
    }

}